<div *ngIf="typeUser === USER_STATE.CLIENT">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <app-item-card></app-item-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-item-card></app-item-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-item-card></app-item-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-item-card></app-item-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-item-card></app-item-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-item-card></app-item-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
