app-item-card { 
    width: 30%;
    display: inline-block;
}

div.item-card-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}