<mat-card>
    <mat-card-content>
        <div class="media-container">
        </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="actions-container">
        <button mat-button class="primary-action">
          <mat-icon>search</mat-icon>
          Agrandar visor
        </button>
        <button mat-button class="secondary-action">
          <mat-icon>cloud_download</mat-icon>
        </button>
        <button mat-button class="secondary-action">
          <mat-icon>cloud_upload</mat-icon>
        </button>
      </div>
    </mat-card-actions>
</mat-card>
