app-order-details {
  display: flex;
  flex-direction: column;
}

.horizontal-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.viewport-container {
  display: flex;
  height: 100%;
}

.content-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
  width: 70rem;
}

.data-container {
  display: flex;
  flex-direction: column;
}

.display-large {
  margin-bottom: 1rem;
}

.identification-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}
