/*tokens.css*/
:root {
    --md-source: #BA4A0A;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary5: #250800;
    --md-ref-palette-primary10: #360F00;
    --md-ref-palette-primary20: #581E00;
    --md-ref-palette-primary25: #6A2500;
    --md-ref-palette-primary30: #7D2D00;
    --md-ref-palette-primary35: #903500;
    --md-ref-palette-primary40: #A43D00;
    --md-ref-palette-primary50: #C75316;
    --md-ref-palette-primary60: #E96C2E;
    --md-ref-palette-primary70: #FF8C58;
    --md-ref-palette-primary80: #FFB597;
    --md-ref-palette-primary90: #FFDBCD;
    --md-ref-palette-primary95: #FFEDE7;
    --md-ref-palette-primary98: #FFF8F6;
    --md-ref-palette-primary99: #FFFBFF;
    --md-ref-palette-primary100: #FFFFFF;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary5: #1F0B04;
    --md-ref-palette-secondary10: #2C160C;
    --md-ref-palette-secondary20: #442A1F;
    --md-ref-palette-secondary25: #503529;
    --md-ref-palette-secondary30: #5D4034;
    --md-ref-palette-secondary35: #6A4C3F;
    --md-ref-palette-secondary40: #77574A;
    --md-ref-palette-secondary50: #917062;
    --md-ref-palette-secondary60: #AD897A;
    --md-ref-palette-secondary70: #C9A394;
    --md-ref-palette-secondary80: #E7BEAE;
    --md-ref-palette-secondary90: #FFDBCD;
    --md-ref-palette-secondary95: #FFEDE7;
    --md-ref-palette-secondary98: #FFF8F6;
    --md-ref-palette-secondary99: #FFFBFF;
    --md-ref-palette-secondary100: #FFFFFF;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary5: #141100;
    --md-ref-palette-tertiary10: #201C00;
    --md-ref-palette-tertiary20: #373106;
    --md-ref-palette-tertiary25: #433C10;
    --md-ref-palette-tertiary30: #4E471B;
    --md-ref-palette-tertiary35: #5B5325;
    --md-ref-palette-tertiary40: #675F30;
    --md-ref-palette-tertiary50: #817846;
    --md-ref-palette-tertiary60: #9B915E;
    --md-ref-palette-tertiary70: #B6AC76;
    --md-ref-palette-tertiary80: #D2C78F;
    --md-ref-palette-tertiary90: #EFE3A8;
    --md-ref-palette-tertiary95: #FEF1B6;
    --md-ref-palette-tertiary98: #FFF9EB;
    --md-ref-palette-tertiary99: #FFFBFF;
    --md-ref-palette-tertiary100: #FFFFFF;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error5: #2D0001;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7E0007;
    --md-ref-palette-error30: #93000A;
    --md-ref-palette-error35: #A80710;
    --md-ref-palette-error40: #BA1A1A;
    --md-ref-palette-error50: #DE3730;
    --md-ref-palette-error60: #FF5449;
    --md-ref-palette-error70: #FF897D;
    --md-ref-palette-error80: #FFB4AB;
    --md-ref-palette-error90: #FFDAD6;
    --md-ref-palette-error95: #FFEDEA;
    --md-ref-palette-error98: #FFF8F7;
    --md-ref-palette-error99: #FFFBFF;
    --md-ref-palette-error100: #FFFFFF;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral5: #15100E;
    --md-ref-palette-neutral10: #201A18;
    --md-ref-palette-neutral20: #362F2C;
    --md-ref-palette-neutral25: #413A37;
    --md-ref-palette-neutral30: #4D4542;
    --md-ref-palette-neutral35: #59514E;
    --md-ref-palette-neutral40: #655C59;
    --md-ref-palette-neutral50: #7F7572;
    --md-ref-palette-neutral60: #998E8B;
    --md-ref-palette-neutral70: #B4A9A5;
    --md-ref-palette-neutral80: #D0C4C0;
    --md-ref-palette-neutral90: #EDE0DC;
    --md-ref-palette-neutral95: #FBEEEA;
    --md-ref-palette-neutral98: #FFF8F6;
    --md-ref-palette-neutral99: #FFFBFF;
    --md-ref-palette-neutral100: #FFFFFF;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant5: #190E0A;
    --md-ref-palette-neutral-variant10: #251914;
    --md-ref-palette-neutral-variant20: #3B2D28;
    --md-ref-palette-neutral-variant25: #473833;
    --md-ref-palette-neutral-variant30: #53443E;
    --md-ref-palette-neutral-variant35: #5F4F49;
    --md-ref-palette-neutral-variant40: #6B5B54;
    --md-ref-palette-neutral-variant50: #85736D;
    --md-ref-palette-neutral-variant60: #A08D86;
    --md-ref-palette-neutral-variant70: #BBA79F;
    --md-ref-palette-neutral-variant80: #D8C2BA;
    --md-ref-palette-neutral-variant90: #F5DED5;
    --md-ref-palette-neutral-variant95: #FFEDE7;
    --md-ref-palette-neutral-variant98: #FFF8F6;
    --md-ref-palette-neutral-variant99: #FFFBFF;
    --md-ref-palette-neutral-variant100: #FFFFFF;
    /* light */
    --md-sys-color-primary-light: #A43D00;
    --md-sys-color-on-primary-light: #FFFFFF;
    --md-sys-color-primary-container-light: #FFDBCD;
    --md-sys-color-on-primary-container-light: #360F00;
    --md-sys-color-primary-fixed-light: #FFDBCD;
    --md-sys-color-on-primary-fixed-light: #360F00;
    --md-sys-color-primary-fixed-dim-light: #FFB597;
    --md-sys-color-on-primary-fixed-variant-light: #7D2D00;
    --md-sys-color-secondary-light: #77574A;
    --md-sys-color-on-secondary-light: #FFFFFF;
    --md-sys-color-secondary-container-light: #FFDBCD;
    --md-sys-color-on-secondary-container-light: #2C160C;
    --md-sys-color-secondary-fixed-light: #FFDBCD;
    --md-sys-color-on-secondary-fixed-light: #2C160C;
    --md-sys-color-secondary-fixed-dim-light: #E7BEAE;
    --md-sys-color-on-secondary-fixed-variant-light: #5D4034;
    --md-sys-color-tertiary-light: #675F30;
    --md-sys-color-on-tertiary-light: #FFFFFF;
    --md-sys-color-tertiary-container-light: #EFE3A8;
    --md-sys-color-on-tertiary-container-light: #201C00;
    --md-sys-color-tertiary-fixed-light: #EFE3A8;
    --md-sys-color-on-tertiary-fixed-light: #201C00;
    --md-sys-color-tertiary-fixed-dim-light: #D2C78F;
    --md-sys-color-on-tertiary-fixed-variant-light: #4E471B;
    --md-sys-color-error-light: #BA1A1A;
    --md-sys-color-on-error-light: #FFFFFF;
    --md-sys-color-error-container-light: #FFDAD6;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-outline-light: #85736D;
    --md-sys-color-background-light: #FFFBFF;
    --md-sys-color-on-background-light: #201A18;
    --md-sys-color-surface-light: #FFF8F6;
    --md-sys-color-on-surface-light: #201A18;
    --md-sys-color-surface-variant-light: #F5DED5;
    --md-sys-color-on-surface-variant-light: #53443E;
    --md-sys-color-inverse-surface-light: #362F2C;
    --md-sys-color-inverse-on-surface-light: #FBEEEA;
    --md-sys-color-inverse-primary-light: #FFB597;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #A43D00;
    --md-sys-color-outline-variant-light: #D8C2BA;
    --md-sys-color-scrim-light: #000000;
    --md-sys-color-surface-container-highest-light: #EDE0DC;
    --md-sys-color-surface-container-high-light: #F2E5E1;
    --md-sys-color-surface-container-light: #F8EBE7;
    --md-sys-color-surface-container-low-light: #FEF1EC;
    --md-sys-color-surface-container-lowest-light: #FFFFFF;
    --md-sys-color-surface-bright-light: #FFF8F6;
    --md-sys-color-surface-dim-light: #E4D7D3;
    /* dark */
    --md-sys-color-primary-dark: #FFB597;
    --md-sys-color-on-primary-dark: #581E00;
    --md-sys-color-primary-container-dark: #7D2D00;
    --md-sys-color-on-primary-container-dark: #FFDBCD;
    --md-sys-color-primary-fixed-dark: #FFDBCD;
    --md-sys-color-on-primary-fixed-dark: #360F00;
    --md-sys-color-primary-fixed-dim-dark: #FFB597;
    --md-sys-color-on-primary-fixed-variant-dark: #7D2D00;
    --md-sys-color-secondary-dark: #E7BEAE;
    --md-sys-color-on-secondary-dark: #442A1F;
    --md-sys-color-secondary-container-dark: #5D4034;
    --md-sys-color-on-secondary-container-dark: #FFDBCD;
    --md-sys-color-secondary-fixed-dark: #FFDBCD;
    --md-sys-color-on-secondary-fixed-dark: #2C160C;
    --md-sys-color-secondary-fixed-dim-dark: #E7BEAE;
    --md-sys-color-on-secondary-fixed-variant-dark: #5D4034;
    --md-sys-color-tertiary-dark: #D2C78F;
    --md-sys-color-on-tertiary-dark: #373106;
    --md-sys-color-tertiary-container-dark: #4E471B;
    --md-sys-color-on-tertiary-container-dark: #EFE3A8;
    --md-sys-color-tertiary-fixed-dark: #EFE3A8;
    --md-sys-color-on-tertiary-fixed-dark: #201C00;
    --md-sys-color-tertiary-fixed-dim-dark: #D2C78F;
    --md-sys-color-on-tertiary-fixed-variant-dark: #4E471B;
    --md-sys-color-error-dark: #FFB4AB;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-error-container-dark: #93000A;
    --md-sys-color-on-error-container-dark: #FFDAD6;
    --md-sys-color-outline-dark: #A08D86;
    --md-sys-color-background-dark: #201A18;
    --md-sys-color-on-background-dark: #EDE0DC;
    --md-sys-color-surface-dark: #181210;
    --md-sys-color-on-surface-dark: #D0C4C0;
    --md-sys-color-surface-variant-dark: #53443E;
    --md-sys-color-on-surface-variant-dark: #D8C2BA;
    --md-sys-color-inverse-surface-dark: #EDE0DC;
    --md-sys-color-inverse-on-surface-dark: #201A18;
    --md-sys-color-inverse-primary-dark: #A43D00;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #FFB597;
    --md-sys-color-outline-variant-dark: #53443E;
    --md-sys-color-scrim-dark: #000000;
    --md-sys-color-surface-container-highest-dark: #3A3330;
    --md-sys-color-surface-container-high-dark: #2F2826;
    --md-sys-color-surface-container-dark: #251E1C;
    --md-sys-color-surface-container-low-dark: #201A18;
    --md-sys-color-surface-container-lowest-dark: #120D0B;
    --md-sys-color-surface-bright-dark: #3F3835;
    --md-sys-color-surface-dim-dark: #181210;
    /* Custom Colors */
    --md-custom-color-Custom-Color-1: #DE1577;
    /* display - large */
    --md-sys-typescale-display-large-font-family-name: Roboto;
    --md-sys-typescale-display-large-font-family-style: Regular;
    --md-sys-typescale-display-large-font-weight: 400px;
    --md-sys-typescale-display-large-font-size: 57px;
    --md-sys-typescale-display-large-line-height: 64px;
    --md-sys-typescale-display-large-letter-spacing: -0.25px;
    /* display - medium */
    --md-sys-typescale-display-medium-font-family-name: Roboto;
    --md-sys-typescale-display-medium-font-family-style: Regular;
    --md-sys-typescale-display-medium-font-weight: 400px;
    --md-sys-typescale-display-medium-font-size: 45px;
    --md-sys-typescale-display-medium-line-height: 52px;
    --md-sys-typescale-display-medium-letter-spacing: 0px;
    /* display - small */
    --md-sys-typescale-display-small-font-family-name: Roboto;
    --md-sys-typescale-display-small-font-family-style: Regular;
    --md-sys-typescale-display-small-font-weight: 400px;
    --md-sys-typescale-display-small-font-size: 36px;
    --md-sys-typescale-display-small-line-height: 44px;
    --md-sys-typescale-display-small-letter-spacing: 0px;
    /* headline - large */
    --md-sys-typescale-headline-large-font-family-name: Roboto;
    --md-sys-typescale-headline-large-font-family-style: Regular;
    --md-sys-typescale-headline-large-font-weight: 400px;
    --md-sys-typescale-headline-large-font-size: 32px;
    --md-sys-typescale-headline-large-line-height: 40px;
    --md-sys-typescale-headline-large-letter-spacing: 0px;
    /* headline - medium */
    --md-sys-typescale-headline-medium-font-family-name: Roboto;
    --md-sys-typescale-headline-medium-font-family-style: Regular;
    --md-sys-typescale-headline-medium-font-weight: 400px;
    --md-sys-typescale-headline-medium-font-size: 28px;
    --md-sys-typescale-headline-medium-line-height: 36px;
    --md-sys-typescale-headline-medium-letter-spacing: 0px;
    /* headline - small */
    --md-sys-typescale-headline-small-font-family-name: Roboto;
    --md-sys-typescale-headline-small-font-family-style: Regular;
    --md-sys-typescale-headline-small-font-weight: 400px;
    --md-sys-typescale-headline-small-font-size: 24px;
    --md-sys-typescale-headline-small-line-height: 32px;
    --md-sys-typescale-headline-small-letter-spacing: 0px;
    /* body - large */
    --md-sys-typescale-body-large-font-family-name: Roboto;
    --md-sys-typescale-body-large-font-family-style: Regular;
    --md-sys-typescale-body-large-font-weight: 400px;
    --md-sys-typescale-body-large-font-size: 16px;
    --md-sys-typescale-body-large-line-height: 24px;
    --md-sys-typescale-body-large-letter-spacing: 0.50px;
    /* body - medium */
    --md-sys-typescale-body-medium-font-family-name: Roboto;
    --md-sys-typescale-body-medium-font-family-style: Regular;
    --md-sys-typescale-body-medium-font-weight: 400px;
    --md-sys-typescale-body-medium-font-size: 14px;
    --md-sys-typescale-body-medium-line-height: 20px;
    --md-sys-typescale-body-medium-letter-spacing: 0.25px;
    /* body - small */
    --md-sys-typescale-body-small-font-family-name: Roboto;
    --md-sys-typescale-body-small-font-family-style: Regular;
    --md-sys-typescale-body-small-font-weight: 400px;
    --md-sys-typescale-body-small-font-size: 12px;
    --md-sys-typescale-body-small-line-height: 16px;
    --md-sys-typescale-body-small-letter-spacing: 0.40px;
    /* label - large */
    --md-sys-typescale-label-large-font-family-name: Roboto;
    --md-sys-typescale-label-large-font-family-style: Medium;
    --md-sys-typescale-label-large-font-weight: 500px;
    --md-sys-typescale-label-large-font-size: 14px;
    --md-sys-typescale-label-large-line-height: 20px;
    --md-sys-typescale-label-large-letter-spacing: 0.10px;
    /* label - medium */
    --md-sys-typescale-label-medium-font-family-name: Roboto;
    --md-sys-typescale-label-medium-font-family-style: Medium;
    --md-sys-typescale-label-medium-font-weight: 500px;
    --md-sys-typescale-label-medium-font-size: 12px;
    --md-sys-typescale-label-medium-line-height: 16px;
    --md-sys-typescale-label-medium-letter-spacing: 0.50px;
    /* label - small */
    --md-sys-typescale-label-small-font-family-name: Roboto;
    --md-sys-typescale-label-small-font-family-style: Medium;
    --md-sys-typescale-label-small-font-weight: 500px;
    --md-sys-typescale-label-small-font-size: 11px;
    --md-sys-typescale-label-small-line-height: 16px;
    --md-sys-typescale-label-small-letter-spacing: 0.50px;
    /* title - large */
    --md-sys-typescale-title-large-font-family-name: Roboto;
    --md-sys-typescale-title-large-font-family-style: Regular;
    --md-sys-typescale-title-large-font-weight: 400px;
    --md-sys-typescale-title-large-font-size: 22px;
    --md-sys-typescale-title-large-line-height: 28px;
    --md-sys-typescale-title-large-letter-spacing: 0px;
    /* title - medium */
    --md-sys-typescale-title-medium-font-family-name: Roboto;
    --md-sys-typescale-title-medium-font-family-style: Medium;
    --md-sys-typescale-title-medium-font-weight: 500px;
    --md-sys-typescale-title-medium-font-size: 16px;
    --md-sys-typescale-title-medium-line-height: 24px;
    --md-sys-typescale-title-medium-letter-spacing: 0.15px;
    /* title - small */
    --md-sys-typescale-title-small-font-family-name: Roboto;
    --md-sys-typescale-title-small-font-family-style: Medium;
    --md-sys-typescale-title-small-font-weight: 500px;
    --md-sys-typescale-title-small-font-size: 14px;
    --md-sys-typescale-title-small-line-height: 20px;
    --md-sys-typescale-title-small-letter-spacing: 0.10px;
  }

/*colors.module.css*/
.primary {
    background-color: var(--md-sys-color-primary);
  }
  .primary-text {
    color: var(--md-sys-color-primary);
  }
  .on-primary {
    background-color: var(--md-sys-color-on-primary);
  }
  .on-primary-text {
    color: var(--md-sys-color-on-primary);
  }
  .primary-container {
    background-color: var(--md-sys-color-primary-container);
  }
  .primary-container-text {
    color: var(--md-sys-color-primary-container);
  }
  .on-primary-container {
    background-color: var(--md-sys-color-on-primary-container);
  }
  .on-primary-container-text {
    color: var(--md-sys-color-on-primary-container);
  }
  .primary-fixed {
    background-color: var(--md-sys-color-primary-fixed);
  }
  .primary-fixed-text {
    color: var(--md-sys-color-primary-fixed);
  }
  .on-primary-fixed {
    background-color: var(--md-sys-color-on-primary-fixed);
  }
  .on-primary-fixed-text {
    color: var(--md-sys-color-on-primary-fixed);
  }
  .primary-fixed-dim {
    background-color: var(--md-sys-color-primary-fixed-dim);
  }
  .primary-fixed-dim-text {
    color: var(--md-sys-color-primary-fixed-dim);
  }
  .on-primary-fixed-variant {
    background-color: var(--md-sys-color-on-primary-fixed-variant);
  }
  .on-primary-fixed-variant-text {
    color: var(--md-sys-color-on-primary-fixed-variant);
  }
  .secondary {
    background-color: var(--md-sys-color-secondary);
  }
  .secondary-text {
    color: var(--md-sys-color-secondary);
  }
  .on-secondary {
    background-color: var(--md-sys-color-on-secondary);
  }
  .on-secondary-text {
    color: var(--md-sys-color-on-secondary);
  }
  .secondary-container {
    background-color: var(--md-sys-color-secondary-container);
  }
  .secondary-container-text {
    color: var(--md-sys-color-secondary-container);
  }
  .on-secondary-container {
    background-color: var(--md-sys-color-on-secondary-container);
  }
  .on-secondary-container-text {
    color: var(--md-sys-color-on-secondary-container);
  }
  .secondary-fixed {
    background-color: var(--md-sys-color-secondary-fixed);
  }
  .secondary-fixed-text {
    color: var(--md-sys-color-secondary-fixed);
  }
  .on-secondary-fixed {
    background-color: var(--md-sys-color-on-secondary-fixed);
  }
  .on-secondary-fixed-text {
    color: var(--md-sys-color-on-secondary-fixed);
  }
  .secondary-fixed-dim {
    background-color: var(--md-sys-color-secondary-fixed-dim);
  }
  .secondary-fixed-dim-text {
    color: var(--md-sys-color-secondary-fixed-dim);
  }
  .on-secondary-fixed-variant {
    background-color: var(--md-sys-color-on-secondary-fixed-variant);
  }
  .on-secondary-fixed-variant-text {
    color: var(--md-sys-color-on-secondary-fixed-variant);
  }
  .tertiary {
    background-color: var(--md-sys-color-tertiary);
  }
  .tertiary-text {
    color: var(--md-sys-color-tertiary);
  }
  .on-tertiary {
    background-color: var(--md-sys-color-on-tertiary);
  }
  .on-tertiary-text {
    color: var(--md-sys-color-on-tertiary);
  }
  .tertiary-container {
    background-color: var(--md-sys-color-tertiary-container);
  }
  .tertiary-container-text {
    color: var(--md-sys-color-tertiary-container);
  }
  .on-tertiary-container {
    background-color: var(--md-sys-color-on-tertiary-container);
  }
  .on-tertiary-container-text {
    color: var(--md-sys-color-on-tertiary-container);
  }
  .tertiary-fixed {
    background-color: var(--md-sys-color-tertiary-fixed);
  }
  .tertiary-fixed-text {
    color: var(--md-sys-color-tertiary-fixed);
  }
  .on-tertiary-fixed {
    background-color: var(--md-sys-color-on-tertiary-fixed);
  }
  .on-tertiary-fixed-text {
    color: var(--md-sys-color-on-tertiary-fixed);
  }
  .tertiary-fixed-dim {
    background-color: var(--md-sys-color-tertiary-fixed-dim);
  }
  .tertiary-fixed-dim-text {
    color: var(--md-sys-color-tertiary-fixed-dim);
  }
  .on-tertiary-fixed-variant {
    background-color: var(--md-sys-color-on-tertiary-fixed-variant);
  }
  .on-tertiary-fixed-variant-text {
    color: var(--md-sys-color-on-tertiary-fixed-variant);
  }
  .error {
    background-color: var(--md-sys-color-error);
  }
  .error-text {
    color: var(--md-sys-color-error);
  }
  .on-error {
    background-color: var(--md-sys-color-on-error);
  }
  .on-error-text {
    color: var(--md-sys-color-on-error);
  }
  .error-container {
    background-color: var(--md-sys-color-error-container);
  }
  .error-container-text {
    color: var(--md-sys-color-error-container);
  }
  .on-error-container {
    background-color: var(--md-sys-color-on-error-container);
  }
  .on-error-container-text {
    color: var(--md-sys-color-on-error-container);
  }
  .outline {
    background-color: var(--md-sys-color-outline);
  }
  .outline-text {
    color: var(--md-sys-color-outline);
  }
  .background {
    background-color: var(--md-sys-color-background);
  }
  .background-text {
    color: var(--md-sys-color-background);
  }
  .on-background {
    background-color: var(--md-sys-color-on-background);
  }
  .on-background-text {
    color: var(--md-sys-color-on-background);
  }
  .surface {
    background-color: var(--md-sys-color-surface);
  }
  .surface-text {
    color: var(--md-sys-color-surface);
  }
  .on-surface {
    background-color: var(--md-sys-color-on-surface);
  }
  .on-surface-text {
    color: var(--md-sys-color-on-surface);
  }
  .surface-variant {
    background-color: var(--md-sys-color-surface-variant);
  }
  .surface-variant-text {
    color: var(--md-sys-color-surface-variant);
  }
  .on-surface-variant {
    background-color: var(--md-sys-color-on-surface-variant);
  }
  .on-surface-variant-text {
    color: var(--md-sys-color-on-surface-variant);
  }
  .inverse-surface {
    background-color: var(--md-sys-color-inverse-surface);
  }
  .inverse-surface-text {
    color: var(--md-sys-color-inverse-surface);
  }
  .inverse-on-surface {
    background-color: var(--md-sys-color-inverse-on-surface);
  }
  .inverse-on-surface-text {
    color: var(--md-sys-color-inverse-on-surface);
  }
  .inverse-primary {
    background-color: var(--md-sys-color-inverse-primary);
  }
  .inverse-primary-text {
    color: var(--md-sys-color-inverse-primary);
  }
  .shadow {
    background-color: var(--md-sys-color-shadow);
  }
  .shadow-text {
    color: var(--md-sys-color-shadow);
  }
  .surface-tint {
    background-color: var(--md-sys-color-surface-tint);
  }
  .surface-tint-text {
    color: var(--md-sys-color-surface-tint);
  }
  .outline-variant {
    background-color: var(--md-sys-color-outline-variant);
  }
  .outline-variant-text {
    color: var(--md-sys-color-outline-variant);
  }
  .scrim {
    background-color: var(--md-sys-color-scrim);
  }
  .scrim-text {
    color: var(--md-sys-color-scrim);
  }
  .surface-container-highest {
    background-color: var(--md-sys-color-surface-container-highest);
  }
  .surface-container-highest-text {
    color: var(--md-sys-color-surface-container-highest);
  }
  .surface-container-high {
    background-color: var(--md-sys-color-surface-container-high);
  }
  .surface-container-high-text {
    color: var(--md-sys-color-surface-container-high);
  }
  .surface-container {
    background-color: var(--md-sys-color-surface-container);
  }
  .surface-container-text {
    color: var(--md-sys-color-surface-container);
  }
  .surface-container-low {
    background-color: var(--md-sys-color-surface-container-low);
  }
  .surface-container-low-text {
    color: var(--md-sys-color-surface-container-low);
  }
  .surface-container-lowest {
    background-color: var(--md-sys-color-surface-container-lowest);
  }
  .surface-container-lowest-text {
    color: var(--md-sys-color-surface-container-lowest);
  }
  .surface-bright {
    background-color: var(--md-sys-color-surface-bright);
  }
  .surface-bright-text {
    color: var(--md-sys-color-surface-bright);
  }
  .surface-dim {
    background-color: var(--md-sys-color-surface-dim);
  }
  .surface-dim-text {
    color: var(--md-sys-color-surface-dim);
  }

/*typography.module.css*/
.display-large{
    font-family: var(--md-sys-typescale-display-large-font-family-name);
    font-style: var(--md-sys-typescale-display-large-font-family-style);
    font-weight: var(--md-sys-typescale-display-large-font-weight);
    font-size: var(--md-sys-typescale-display-large-font-size);
    letter-spacing: var(--md-sys-typescale-display-large-tracking);
    line-height: var(--md-sys-typescale-display-large-height);
    text-transform: var(--md-sys-typescale-display-large-text-transform);
    text-decoration: var(--md-sys-typescale-display-large-text-decoration);
  }
  .display-medium{
    font-family: var(--md-sys-typescale-display-medium-font-family-name);
    font-style: var(--md-sys-typescale-display-medium-font-family-style);
    font-weight: var(--md-sys-typescale-display-medium-font-weight);
    font-size: var(--md-sys-typescale-display-medium-font-size);
    letter-spacing: var(--md-sys-typescale-display-medium-tracking);
    line-height: var(--md-sys-typescale-display-medium-height);
    text-transform: var(--md-sys-typescale-display-medium-text-transform);
    text-decoration: var(--md-sys-typescale-display-medium-text-decoration);
  }
  .display-small{
    font-family: var(--md-sys-typescale-display-small-font-family-name);
    font-style: var(--md-sys-typescale-display-small-font-family-style);
    font-weight: var(--md-sys-typescale-display-small-font-weight);
    font-size: var(--md-sys-typescale-display-small-font-size);
    letter-spacing: var(--md-sys-typescale-display-small-tracking);
    line-height: var(--md-sys-typescale-display-small-height);
    text-transform: var(--md-sys-typescale-display-small-text-transform);
    text-decoration: var(--md-sys-typescale-display-small-text-decoration);
  }
  .headline-large{
    font-family: var(--md-sys-typescale-headline-large-font-family-name);
    font-style: var(--md-sys-typescale-headline-large-font-family-style);
    font-weight: var(--md-sys-typescale-headline-large-font-weight);
    font-size: var(--md-sys-typescale-headline-large-font-size);
    letter-spacing: var(--md-sys-typescale-headline-large-tracking);
    line-height: var(--md-sys-typescale-headline-large-height);
    text-transform: var(--md-sys-typescale-headline-large-text-transform);
    text-decoration: var(--md-sys-typescale-headline-large-text-decoration);
  }
  .headline-medium{
    font-family: var(--md-sys-typescale-headline-medium-font-family-name);
    font-style: var(--md-sys-typescale-headline-medium-font-family-style);
    font-weight: var(--md-sys-typescale-headline-medium-font-weight);
    font-size: var(--md-sys-typescale-headline-medium-font-size);
    letter-spacing: var(--md-sys-typescale-headline-medium-tracking);
    line-height: var(--md-sys-typescale-headline-medium-height);
    text-transform: var(--md-sys-typescale-headline-medium-text-transform);
    text-decoration: var(--md-sys-typescale-headline-medium-text-decoration);
  }
  .headline-small{
    font-family: var(--md-sys-typescale-headline-small-font-family-name);
    font-style: var(--md-sys-typescale-headline-small-font-family-style);
    font-weight: var(--md-sys-typescale-headline-small-font-weight);
    font-size: var(--md-sys-typescale-headline-small-font-size);
    letter-spacing: var(--md-sys-typescale-headline-small-tracking);
    line-height: var(--md-sys-typescale-headline-small-height);
    text-transform: var(--md-sys-typescale-headline-small-text-transform);
    text-decoration: var(--md-sys-typescale-headline-small-text-decoration);
  }
  .body-large{
    font-family: var(--md-sys-typescale-body-large-font-family-name);
    font-style: var(--md-sys-typescale-body-large-font-family-style);
    font-weight: var(--md-sys-typescale-body-large-font-weight);
    font-size: var(--md-sys-typescale-body-large-font-size);
    letter-spacing: var(--md-sys-typescale-body-large-tracking);
    line-height: var(--md-sys-typescale-body-large-height);
    text-transform: var(--md-sys-typescale-body-large-text-transform);
    text-decoration: var(--md-sys-typescale-body-large-text-decoration);
  }
  .body-medium{
    font-family: var(--md-sys-typescale-body-medium-font-family-name);
    font-style: var(--md-sys-typescale-body-medium-font-family-style);
    font-weight: var(--md-sys-typescale-body-medium-font-weight);
    font-size: var(--md-sys-typescale-body-medium-font-size);
    letter-spacing: var(--md-sys-typescale-body-medium-tracking);
    line-height: var(--md-sys-typescale-body-medium-height);
    text-transform: var(--md-sys-typescale-body-medium-text-transform);
    text-decoration: var(--md-sys-typescale-body-medium-text-decoration);
  }
  .body-small{
    font-family: var(--md-sys-typescale-body-small-font-family-name);
    font-style: var(--md-sys-typescale-body-small-font-family-style);
    font-weight: var(--md-sys-typescale-body-small-font-weight);
    font-size: var(--md-sys-typescale-body-small-font-size);
    letter-spacing: var(--md-sys-typescale-body-small-tracking);
    line-height: var(--md-sys-typescale-body-small-height);
    text-transform: var(--md-sys-typescale-body-small-text-transform);
    text-decoration: var(--md-sys-typescale-body-small-text-decoration);
  }
  .label-large{
    font-family: var(--md-sys-typescale-label-large-font-family-name);
    font-style: var(--md-sys-typescale-label-large-font-family-style);
    font-weight: var(--md-sys-typescale-label-large-font-weight);
    font-size: var(--md-sys-typescale-label-large-font-size);
    letter-spacing: var(--md-sys-typescale-label-large-tracking);
    line-height: var(--md-sys-typescale-label-large-height);
    text-transform: var(--md-sys-typescale-label-large-text-transform);
    text-decoration: var(--md-sys-typescale-label-large-text-decoration);
  }
  .label-medium{
    font-family: var(--md-sys-typescale-label-medium-font-family-name);
    font-style: var(--md-sys-typescale-label-medium-font-family-style);
    font-weight: var(--md-sys-typescale-label-medium-font-weight);
    font-size: var(--md-sys-typescale-label-medium-font-size);
    letter-spacing: var(--md-sys-typescale-label-medium-tracking);
    line-height: var(--md-sys-typescale-label-medium-height);
    text-transform: var(--md-sys-typescale-label-medium-text-transform);
    text-decoration: var(--md-sys-typescale-label-medium-text-decoration);
  }
  .label-small{
    font-family: var(--md-sys-typescale-label-small-font-family-name);
    font-style: var(--md-sys-typescale-label-small-font-family-style);
    font-weight: var(--md-sys-typescale-label-small-font-weight);
    font-size: var(--md-sys-typescale-label-small-font-size);
    letter-spacing: var(--md-sys-typescale-label-small-tracking);
    line-height: var(--md-sys-typescale-label-small-height);
    text-transform: var(--md-sys-typescale-label-small-text-transform);
    text-decoration: var(--md-sys-typescale-label-small-text-decoration);
  }
  .title-large{
    font-family: var(--md-sys-typescale-title-large-font-family-name);
    font-style: var(--md-sys-typescale-title-large-font-family-style);
    font-weight: var(--md-sys-typescale-title-large-font-weight);
    font-size: var(--md-sys-typescale-title-large-font-size);
    letter-spacing: var(--md-sys-typescale-title-large-tracking);
    line-height: var(--md-sys-typescale-title-large-height);
    text-transform: var(--md-sys-typescale-title-large-text-transform);
    text-decoration: var(--md-sys-typescale-title-large-text-decoration);
  }
  .title-medium{
    font-family: var(--md-sys-typescale-title-medium-font-family-name);
    font-style: var(--md-sys-typescale-title-medium-font-family-style);
    font-weight: var(--md-sys-typescale-title-medium-font-weight);
    font-size: var(--md-sys-typescale-title-medium-font-size);
    letter-spacing: var(--md-sys-typescale-title-medium-tracking);
    line-height: var(--md-sys-typescale-title-medium-height);
    text-transform: var(--md-sys-typescale-title-medium-text-transform);
    text-decoration: var(--md-sys-typescale-title-medium-text-decoration);
  }
  .title-small{
    font-family: var(--md-sys-typescale-title-small-font-family-name);
    font-style: var(--md-sys-typescale-title-small-font-family-style);
    font-weight: var(--md-sys-typescale-title-small-font-weight);
    font-size: var(--md-sys-typescale-title-small-font-size);
    letter-spacing: var(--md-sys-typescale-title-small-tracking);
    line-height: var(--md-sys-typescale-title-small-height);
    text-transform: var(--md-sys-typescale-title-small-text-transform);
    text-decoration: var(--md-sys-typescale-title-small-text-decoration);
  }

/*theme.light.css*/
@media(prefers-color-scheme: light){
    :root {
        --md-sys-color-primary: var(--md-sys-color-primary-light);
        --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
        --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
        --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
        --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-light);
        --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-light);
        --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-light);
        --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-light);
        --md-sys-color-secondary: var(--md-sys-color-secondary-light);
        --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
        --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
        --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
        --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-light);
        --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-light);
        --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-light);
        --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-light);
        --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
        --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
        --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
        --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
        --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-light);
        --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-light);
        --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-light);
        --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-light);
        --md-sys-color-error: var(--md-sys-color-error-light);
        --md-sys-color-on-error: var(--md-sys-color-on-error-light);
        --md-sys-color-error-container: var(--md-sys-color-error-container-light);
        --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
        --md-sys-color-outline: var(--md-sys-color-outline-light);
        --md-sys-color-background: var(--md-sys-color-background-light);
        --md-sys-color-on-background: var(--md-sys-color-on-background-light);
        --md-sys-color-surface: var(--md-sys-color-surface-light);
        --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
        --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
        --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
        --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
        --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
        --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
        --md-sys-color-shadow: var(--md-sys-color-shadow-light);
        --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
        --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
        --md-sys-color-scrim: var(--md-sys-color-scrim-light);
        --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-light);
        --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-light);
        --md-sys-color-surface-container: var(--md-sys-color-surface-container-light);
        --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-light);
        --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-light);
        --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-light);
        --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-light);
       }
}


   /*theme.dark.css*/
   @media(prefers-color-scheme: dark){
   :root {
    --md-sys-color-primary: var(--md-sys-color-primary-dark);
    --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
    --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
    --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
    --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-dark);
    --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-dark);
    --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-dark);
    --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-dark);
    --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
    --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
    --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
    --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
    --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-dark);
    --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-dark);
    --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-dark);
    --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-dark);
    --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
    --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
    --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
    --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
    --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-dark);
    --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-dark);
    --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-dark);
    --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-dark);
    --md-sys-color-error: var(--md-sys-color-error-dark);
    --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
    --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
    --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
    --md-sys-color-outline: var(--md-sys-color-outline-dark);
    --md-sys-color-background: var(--md-sys-color-background-dark);
    --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
    --md-sys-color-surface: var(--md-sys-color-surface-dark);
    --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
    --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
    --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
    --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
    --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
    --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
    --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
    --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
    --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
    --md-sys-color-scrim: var(--md-sys-color-scrim-dark);
    --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-dark);
    --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-dark);
    --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark);
    --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-dark);
    --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-dark);
    --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-dark);
    --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-dark);
   }
}


html, body { width: 100%; height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

